create Happy does not know how to create that.|Happy needs to know what you want to create.@creating
	!nuxtTemplate
	!shortcut
docker Happy doesn't know how to do that with docker.|Happy needs to know what you want to do with docker.@docking
	!inject
	!bash
	!remind
!e
!beep
sing *happily does its best to sing whatever that is*|*happily sings whatever is on its mind*@singing
	!loudly
	!softly
	like Happy doesn't know what you are trying to have it sing like.
		a *happily does its best to sing whatever that is*|Happy doesn't know what you are trying to have it sing like.
			!bird
			!pig
			!human
		the *happily does its best to sing whatever that is*|Happy doesn't know what you are trying to have it sing like.
			!queen
			best *happily does its best to sing whatever that is*|Happy doesn't know what you are trying to have it sing like.
				!color
				!pony
				!girl
				!singer
			!wind
	!again